html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

.red-button {
  background-color: red;
  width: 70px;
  height: 30px;
  outline: none;
  border: 2px solid red;
}

.blue-button {
  background-color: blue;
  color: white;
  width: 70px;
  height: 30px;
  outline: none;
  border: 2px solid blue;
}

.yellow-button{
  background-color: yellow;
  width: 70px;
  height: 30px;
  outline: none;
  border: 2px solid yellow;
}

.green-button{
  background-color: green;
  width: 70px;
  height: 30px;
  outline: none;
  border: 2px solid green;
}

.purple-button{
  background-color: purple;
  width: 70px;
  height: 30px;
  outline: none;
  border: 2px solid purple;
  color: white;
}

.orange-button{
  background-color: orange;
  width: 70px;
  height: 30px;
  outline: none;
  border: 2px solid orange;
}

.black-button{
  background-color: black;
  color: white;
  width: 70px;
  height: 30px;
  outline: none;
  border: 2px solid black;
}

.white-button{
  background-color: white;
  width: 70px;
  height: 30px;
  outline: none;  
  border: 2px solid white;
}